td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.verdeEscuro {
    background-color: rgb(37, 112, 83);
    color: white;
}

.verdeClaro {
    background-color: rgb(136, 219, 187);
    color: black;
}